*{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial';
}

div, input[type = "text"], input[type = "button"] { 
	margin: 10px 15px;
	font-size: 18px;
	display: block;
	padding: 5px 8px;
}

input.input-btn{
	margin-bottom: 30px;
}
.input-text, .input-srt, .containerMessage {
  	width: 250px;
} 

.containerMessage {
	border: 1px solid black;
	color: green;
	height: 20px;
	margin-bottom: 30px;
}

.containerWrapper {
	border: 1px solid black;
	background-color: #cceeff;
	border-radius: 10px;
	width: 350px;
	text-align: left;
	padding-left: 60px;
	margin: 10px 5px 15px;
	box-shadow: 3px 3px 8px #a3a3c2; 
}
