*{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial';
}

div, form, input[type = "text"], input[type = "button"], input[type = "submit"], 
.lessonSelect { 
	margin: 8px 15px;
	font-size: 18px;
	display: block;
	padding: 5px 8px;
}

.lessonSelect {
	background-color: #fdfdfd;
}

input[type = "text"]{
	background: #fdfdfd;
}

input[type = "button"], input[type = "submit"] {
	background: #b5ff99;
	border-radius: 10px;
}

input.inputBtn{
	margin-bottom: 10px;
}
.inputText, .inputSrt, .containerMessage, .containerSubStr {
  	width: 540px;
}

.containerWrapper {
	width: 585px;
	text-align: left;
	padding-left: 15px;
}

.containerWrapper {
	width: 585px;
	border: 1px solid black;
	background-color: #cceeff;
	border-radius: 10px;
	margin: 5px 5px 15px;
	box-shadow: 3px 3px 8px #a3a3c2; 
}

.description, .titleBig, .containerSubStr, .errorMessage{
	margin: 5px 10px 0px;
	padding: 5px 8px;
}

.errorMessage, .titleBig{
	display: inline-block;
	padding-left: 10px;
}

.errorMessage{
	margin-left: 10px;
	max-width: 350px;
	color: red;
}

.description, .containerSubStr, .containerMessage {
	background-color: #e6f7ff;
	border: 1px solid #fff;
	border-radius: 10px;
}

.description {
	font-size: 14px;
	color: #595959;
}

.containerMessage {
	color: green;
	height: 20px;
	margin-bottom: 20px;
}

.containerSubStr {
	min-height: 100px;
	color: black;
	margin-bottom: 10px;
}
.containerWrapTitle {
	margin-left: -5px;
}
