.installBtn
  &.btn-app-store
    background-image: url(/../img/app-store.svg) !important

  &.btn-google-play
    background-image: url(/../img/google-play.svg) !important
    margin-left: -3px

  &.btn-app-store,
  &.btn-google-play
    background-color: #000
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 6px

  // HEADER -------------------------
  &.header__installBtn
    &.btn-app-store,
    &.btn-app-store a
      width: 142px
      height: 44px
      margin-right: -7px
    &.btn-google-play,
    &.btn-google-play a
      width: 137.48px
      height: 42.33px

  // FOOTER -------------------------
  &.footer__installBtn
    &.btn-app-store,
    &.btn-app-store a
      width: 181px
      height: 53px
      margin-right: 24.3px
    &.btn-google-play,
    &.btn-google-play a
      width: 174.74px
      height: 51.33px