.installBox
  .install .install__title
    font-family: "MuseoSansCyrl-thin"
    font-weight: 100
    font-size: 13px
    line-height: 16px
    letter-spacing: 0.52px

  .install .install-btnsWrapper
    display: flex
    flex-wrap: nowrap
    justify-content: space-around
    align-items: center

  // HEADER -------------------------
  &.header__installBox
    .install .install__title
      margin: 42px 0 12px

  // FOOTER -------------------------
  &.footer__installBox
    width: 1024px
    margin: 0 auto
    height: 100%
    display: flex
    flex-wrap: nowrap
    justify-content: space-around
    align-items: flex-start
    padding-bottom: 56px

    p
      margin-bottom: 35px

    .install
      margin-top: 51px
      margin-right: 93px
      width: 380px

    .install .install__title
      font-size: 15px
      line-height: 18px
      letter-spacing: 0.6px