.loginMain
  & .loginTitle
    font: 300 20px/28px "MuseoSansCyrl-normal"
    color: #080808
    padding: 30px 0 5px
    text-align: center

  & .loginBtns-content
    padding: 25px 20px 20px

  & .btnStriper
    border-top: 1px solid #e6e6e6
    margin: 20px auto

   & .loginMain-links,
   & .loginMain-links a
    text-align: center
    font: 100 11px/1.1 "MuseoSansCyrl-thin",Arial,sans-serif
    color: #ccc !important;

  & .loginMain-links
    margin-top: 20px
    & a
      text-decoration: underline !important;