.loginBtn
  display: block
  height: 50px
  width: 100%
  border-radius: 4px
  font: 100 15px/18px "MuseoSansCyrl-thin"
  color: #fff
  cursor: pointer
  margin-top: 10px

  &:hover
    opacity: .9

  //-----------------

