

/* ------------------------------------------  */






.row-2 .form-phone-email{
    width: 304px;
    height: 48px;
}

.footer .form-phone-email{
    width: 380px;
    height: 51px;
}

.form-phone-email {
    justify-content: space-between;
}

.form-phone-email,
.btns-wrapper{
    align-items: center;
}

.form-phone-email input{
    border: none;
    text-align: left;
    padding-left: 15px;
    color: #808080;
}

.footer .form-phone-email input[type="text"] {
    font-size: 20px;
    line-height: 23px;
    height: 23px;
}

.footer .form-phone-email input[type="submit"]{
    font-size: 15px;
    line-height: 18px;
    border-left: 2px solid #808080;
    height: 27px;
}

