.column
  display: inline-block

  &__title
    font-family: "MuseoSansCyrl-normal"
    font-size: 23px
    line-height: 25px
    letter-spacing: 0.92px
    margin: 37px 0 21px

  &__description
    font-family: "MuseoSansCyrl-thin"
    font-size: 13px
    line-height: 22px
    letter-spacing: 0.52px
    width: 225px

  & .icon-wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 102px
    height: 102px
    margin: 0 auto

    & .icon-cherry
      max-width: 90.13px
      max-height: 91px
    & .icon-plane
      max-width: 36.2px
      max-height: 72.44px
    & .icon-notes
      max-width: 51.76px
      max-height: 55.17px
    & .icon-heart
      max-width: 51px
      max-height: 47.81px