@import '/fonts/MuseoSans/MuseoSansCyrl-thin.styl'
@import '/fonts/MuseoSans/MuseoSansCyrl-regular.styl'
@import '/fonts/MuseoSans/MuseoSansCyrl-medium.styl'

@import '/reset.styl'
@import '/variables.styl'

.desktop
  background: linear-gradient(to bottom, rgba(72,43,216,1) 9%,rgba(72,43,216,0.39) 16%,rgba(53,32,160,0.25) 19%,rgba(0,0,0,0.25) 50%)
  background-color: #000000
  color: #fff
  padding-top: 1px

  &-containerWrapper
    width: 1441px
    height: 100%
    text-align: center
    margin: 0 auto

  .item_inline
    display: inline-block

  &-content
    width: 1029px
    margin: 0 auto
    text-align: center

  &-arrows
    position: absolute
    background-color: transparent
    top: 45px
    left: 16%
    margin: 0 auto
    z-index: 100

  &-arrows .desktop-content
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: nowrap
    width: 1029px
    margin: 0 auto

  &-arrow_left
    height: 23px
    width: 300px
    background-image: url("/../img/desktop/arrowLeft.svg")
    background-repeat: no-repeat
    background-size: 8px 15px
    background-position: 0 1px
    text-align: left

  &-arrow_right
    height: 23px
    width: 300px
    background-image: url("/../img/desktop/arrowRight.svg")
    background-repeat: no-repeat
    background-size: 8px 15px
    background-position: right 1px
    text-align: right

  & .arrow__title
    display: block
    height: 15px
    vertical-align: middle
    padding: 0 16px
    cursor: pointer
    color: #ffffff
    text-decoration: none

  &-top
    text-align: center

    .zvooq-logo
      background-image: url("/img/desktop/zvooqLogo.svg")
      background-repeat: no-repeat
      background-position: center
      background-size: 62px 62px
      width: 1029px
      height: 62px
      border-radius: 17px
      margin-bottom: 22px
      margin-top: 46px

    .title-Zvooq
      width: 1029px
      background-image: url("/../img/desktop/zvooqTitle.svg")
      background-repeat: no-repeat
      background-position: center
      background-size: 96px 26px
      height: 26px

    .title-number1
      position: relative
      font-family: "MuseoSansCyrl-regular", Arial, sans-serif
      font-size: 20px
      line-height: 28px
      margin-bottom: 68px
      text-align: center

    &__title-music
      font-family: "MuseoSansCyrl-medium", Arial, sans-serif
      font-size: 70px
      line-height: 70px
      margin-bottom: 55px
      text-align: center

      .icon-note
        display: inline-block
        position: relative
        top: 5px
        left: 3px
        background-image: url("/../img/desktop/iconNote.svg")
        background-repeat: no-repeat
        background-size: 49px 57px
        width: 49px
        height: 57px
        margin: 0 8px

    &-getSms_form
      display: block
      margin-bottom: 36px

      .getSms_form__title
        text-align: center
        font-family: "MuseoSansCyrl-thin", Arial, sans-serif
        font-size: 14px
        line-height: 19px
        margin-bottom: 10px

      .getSms_form_input
        text-align: center
        width: 327px
        color: #D2D2D2
        font-family: "MuseoSansCyrl-regular", Arial, sans-serif
        font-size: 20px
        line-height: 28px
        margin: 0 auto 9px
        padding: 11px 0 12px
        background-color: #ffffff
        border-radius: 5px
        display: block

      .getSms_form_submit
        display: block
        text-align: center
        width: 336px
        color: #ffffff
        font-family: "MuseoSansCyrl-regular", Arial, sans-serif
        font-size: 20px
        line-height: 28px
        padding: 12px 0 11px
        background-color: #F82D8E
        border-radius: 25px
        margin: 0 auto

    &-phones
      position: relative
      width: 1029px
      height: 559px
      background-image: url("/../img/desktop/phones.png")
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      margin-bottom: 47px

      .best-stiсker
        border-radius: 50%
        width: 154px
        height: 154px
        position: absolute
        top: -3px
        right: 305px
        background: linear-gradient(to bottom, rgba(0,255,171,1) 0%,rgba(174,255,224,1) 100%);
        text-align: center
        transform: rotate(15deg)
        z-index: 5

        .stiсker-text
          color: #000000
          font-family: "MuseoSansCyrl-regular", Arial, sans-serif
          font-size: 15px
          line-height: 19px
          text-align: center
          margin-top: 29px

        .AppStore
          width: 80px
          height: 4px
          padding-top: 13px
          background-image: url('/../img/desktop/appStore.svg')
          background-repeat: no-repeat
          background-size: cover
          margin: 7px auto 10px

    &__title-listenFree
      font-family: "MuseoSansCyrl-medium", Arial, sans-serif
      font-size: 42px
      line-height: 52px
      margin-bottom: 15px
      text-align: center

    &__title-torrents,
    &__title-trial
      font-family: "MuseoSansCyrl-regular", Arial, sans-serif
      font-size: 20px
      line-height 28px
      text-align: center
      margin-bottom: 14px

    &-group25
      text-align: center
      margin: 50px 0 80px

      &__title-25
        color: #E93889
        font-family: "MuseoSansCyrl-medium", Arial, sans-serif
        font-size: 150px
        line-height: 150px
        text-align: center

      &__title-million
        font-family: "MuseoSansCyrl-regular", Arial, sans-serif
        font-size: 20px
        line-height: 28px
        text-align: center

    &-playGroup
      height: 391px
      width: 1023px
      background-image: url("/../img/desktop/playlists.png")
      background-repeat: no-repeat
      background-size: cover
      margin-bottom: 20px

    &__title-thousand
      font-family: "MuseoSansCyrl-medium", Arial, sans-serif
      font-size: 42px
      line-height: 52px
      text-align: center
      margin-bottom: 15px

    &__title-oneClick
      font-family: "MuseoSansCyrl-regular", Arial, sans-serif
      font-size: 20px
      line-height: 28px
      text-align: center
      margin-bottom: 14px
      z-index: 10

    &-heartWaves
      position: relative
      background-image: url("/../img/desktop/heartWaves.svg")
      background-repeat: no-repeat
      background-position: center -72px
      background-size: 490px 490px
      width: 1029px
      height: 304px
      z-index: 6

    &__title-smart
      font-family: "MuseoSansCyrl-medium", Arial, sans-serif
      font-size: 42px
      line-height: 52px
      text-align: center
      margin-bottom: 15px
      z-index: 10

    &__title-allULike
      font-family: "MuseoSansCyrl-regular", Arial, sans-serif
      font-size: 20px
      line-height: 28px
      text-align: center
      margin-bottom: 80px

  &-premium
    text-align: center
    margin-bottom: 80px

    &__title
      font-family: "MuseoSansCyrl-medium", Arial, sans-serif
      font-size: 42px
      line-height: 52px
      text-align: center
      margin-bottom: 31px

    &-functionsGroup
      display: flex
      justify-content: space-around
      flex-wrap: nowrap
      margin-bottom: 32px

      .premiumGroup__item
        text-align: center

        .premiumGroup__item-icon
          width: 150px
          height: 150px
          background-repeat: no-repeat
          background-position: center
          background-size: 150px 150px
          border-radius: 50%
          margin: 0 auto 13px

          &.icon-cloud
            background-image: url("/../img/desktop/iconCloud.svg")

          &.icon-plane
            background-image: url("/../img/desktop/iconPlane.svg")

          &.icon-diamond
            background-image: url("/../img/desktop/iconDiamond.svg")

          &.icon-rewind
            background-image: url("/../img/desktop/iconRewind.svg")

          &.icon-butterfly
            background-image: url("/../img/desktop/iconButterfly.svg")

        .premiumGroup-item-title
          text-align: center
          font-family: "MuseoSansCyrl-medium", Arial, sans-serif
          font-size: 20px
          line-height: 28px

    &__button
      width: 336px
      color: #ffffff
      font-family: "MuseoSansCyrl-regular", Arial, sans-serif
      font-size: 20px
      line-height: 28px
      padding: 12px 0 11px
      background-color: #F82D8E
      border-radius: 25px

  &-top-etc
    text-align: center

    &__title
      font-family: "MuseoSansCyrl-medium", Arial, sans-serif
      font-size: 42px
      line-height: 52px
      text-align: center
      margin-bottom: 24px

    .functionsGroup
      margin-bottom: 20px
      text-align: center

      & .functionsGroup__item
        border-bottom: 1px solid #4A4A4A
        padding: 16px 0
        text-align: left
        width: 1021px

        &:last-child
          border-bottom: none

        &-title
          font-family: "MuseoSansCyrl-regular", Arial, sans-serif
          font-size: 20px
          line-height: 28px
          text-align: left

        &-column
          display: inline-flex
          align-items: flex-start
          text-align: left

          &.column_left
            margin-right: 45px
            width: 354px
            text-align: left

          &.column_right
            max-width: 620px

        &-icon
          width: 41px
          height: 22px
          margin-right: 13px
          background-repeat: no-repeat

          &.item-icon-logos
            background-image: url("/../img/desktop/iconLogos.svg")
            background-position: left top
            background-size: 41px 22px

          &.item-icon-android
            background-image: url("/../img/desktop/iconAndroid.svg")
            background-position: 24px top
            background-size: 16px 19px

          &.item-icon-globe
            background-image: url("/../img/desktop/iconGlobe.svg")
            background-position: 20px top
            background-size: 20px 20px

          &-title
            font-family: "MuseoSansCyrl-regular", Arial, sans-serif
            font-size: 20px
            line-height: 28px
            text-align: left

  &-partners
    background-color: #2C2C2C
    width: 100%
    padding: 32px 0 120px
    text-align: center

    &__title
      color: #ffffff
      font-family: "MuseoSansCyrl-medium", Arial, sans-serif
      font-size: 42px
      line-height: 52px
      text-align: center
      margin-bottom: 24px

    &__table
      background-image: url("/../img/desktop/partnersLogos.png")
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      width: 1024px
      height: 411px
      margin-bottom: 63px

    .desktop-linksGroupe
      display: flex
      justify-content: space-between

      .desktop-link
        display: inline-block
        color: #ffffff
        text-decoration: underline
        font-family: "MuseoSansCyrl-thin", Arial, sans-serif
        font-size: 14px
        line-height: 19px
        text-align: left

      .desktop-copyright
        display: inline-block
        color: #9B9B9B
        font-family: "MuseoSansCyrl-thin", Arial, sans-serif
        font-size: 14px
        line-height: 19px
        text-align: left

  &-footer
    position: fixed
    bottom: 0
    background-color: #00FFAB
    width: 100%
    padding: 20px 0
    text-align: center
    z-index: 100003

    .desktop-content
      display: flex
      align-items: flex-start
      justify-content: space-between

    &__icon-logos
      display: inline-block
      background-image: url("/../img/desktop/iconLogosBlack.svg")
      background-position: left top
      background-size: 54px 29px
      width: 54px
      height: 29px
      margin-right: 17px
      margin-left: 10px

    &__title
      display: inline-block
      color: #000000
      font-family: "MuseoSansCyrl-regular", Arial, sans-serif
      font-size: 20px
      line-height: 28px
      text-align: left

    &__form
      display: inline-block
      position: relative
      right: -28px

      &-input
        text-align: left
        width: 282px
        color: #D2D2D2
        font-family: "MuseoSansCyrl-regular", Arial, sans-serif
        font-size: 20px
        line-height: 28px
        padding: 11px 0 12px 38px
        background-color: #ffffff
        border-radius: 25px

      &-submit
        width: 239px
        position: relative
        left: -51px
        padding: 11px 0 12px
        background-color: #482BD8
        color: #D2D2D2
        border-radius: 25px
        font-family: "MuseoSansCyrl-regular", Arial, sans-serif
        font-size: 20px
        line-height: 28px