.formBox
  & .phoneEmail-form
    p
      font-family: "MuseoSansCyrl-thin"

    & .phoneEmail-form__inputSubmit
      text-transform: uppercase

    & .phoneEmail-form__input,
    & .phoneEmail-form__inputSubmit
      font-family: "MuseoSansCyrl-normal"