@font-face {
    font-family: "MuseoSansCyrl-300";
    src: url(../fonts/MuseoSansCyrl-300.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl-300";
    src: url(../fonts/MuseoSansCyrl-300.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl-100";
    src: url(../fonts/MuseoSansCyrl-100.otf);
    font-weight: 100;
    font-style: normal;
}

*{
	padding: 0;
	margin: 0;
}

body,
#content{
	background: -webkit-linear-gradient(-45deg, rgba(95,228,237,1) 0%, rgba(176,98,243,1) 79%, rgba(176,98,243,1) 85%, rgba(118,78,156,1) 100%);*/
	background: -moz-linear-gradient(-45deg, rgba(95,228,237,1) 0%, rgba(176,98,243,1) 79%, rgba(176,98,243,1) 85%, rgba(118,78,156,1) 100%);
}

a {
	display: inline-block;
}

a:hover,
input[type="submit"] {
	cursor: pointer;
}

p {
	color: #fff;
	text-align: center;
}

.mainPage {
	width:100%;
	height: 100%;
}

.main-container-wrapper > p,
.row-3 p:nth-child(2),
.row-4 .column p:nth-child(2),
.column-2 .form-phone-email input{
	font-family: "MuseoSansCyrl-300";
}

.install p,
.get-phone-email p,
.row-2 .column-2 p:nth-child(2),
.row-3 p:nth-child(3),
.row-4 .column p:nth-child(3){
	font-family: "MuseoSansCyrl-100";
}

.main-container-wrapper,
.footer .installBox{
	width: 1024px;
	margin: 0 auto;
	height: 100%;
}

.row-1-logos a {
	margin: 26px 42px 40px 23px;
}

.row-1-logos a:first-child { 
	width: 207px;
	height: 53px;
}

.row-1-logos a:last-child {
	width: 191.63px;
	height: 54.21px;
}

.main-container-wrapper > p {
	font-size: 37px;
	line-height: 47px;
	letter-spacing: 0.8px;
}

.row-2 {
	margin: 61px 73px 0 35px;
}

.column {
	display: inline-block;
}

.row-2 .column-1 img:first-child{
	margin-right: 15px;
}

.row-2 .column-2 {
	margin: 25px 39px 12px 78px;
}

.row-2 .column-2,
.row-2 .column-2 p {
	width: 310px;
}

.row-2 .column-2 > p:first-child,
.form-phone-email input[type="submit"] {
	text-transform: uppercase;
}

.row-2 .column-2 > p:first-child {
	font-size: 22.4px;
	line-height: 29.6px;
	margin-bottom: 15.8px;
	font-family: "MuseoSansCyrl-300";
}

.row-2 .column-2 p:nth-child(2) {
	font-size: 21.28px;
	line-height: 23.52px;
	letter-spacing: 0.2px;
}

.row-2 .column-2 > p {
	text-align: left !important;
}

.column-2 .install p,
.column-2 .get-phone-email p{
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.52px;
}

.column-2 .install p{
	margin: 42px 0 12px;
}

.column-2 .get-phone-email p{
	margin: 29px 0 11px;
}

.form-phone-email input[type="text"]{
	height: 26px;
	padding: 14px 25px 14px 15px;
	border-radius: 6px; 
	background-color: transparent;
}

.form-phone-email input[type="submit"]{
	margin-right: 20px;
}

.column-2 .form-phone-email input[type="text"] {
	font-size: 16px;
	line-height: 18px;
}

.column-2 .form-phone-email input[type="submit"]{
	font-size: 12px;
	line-height: 15px;
	border-left: 1px solid #808080;
		height: 22px;
}

.row-3 {
	margin-top: 120px;
	text-align: center;
}

.row-3 a img {
	margin-bottom: 30px;
}

.row-3 p:nth-child(2) {
	font-size: 48px;
	line-height: 57px;
	margin-bottom: 5px;	
}

.row-3 p:nth-child(3) {
	font-size: 27px;
	line-height: 47px;	
	margin-bottom: 38px;
}

.row-1-logos,
.row-4,
.row-2, 
.footer .installBox,
.install .btns-wrapper,
.form-phone-email {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;	
}

.row-1-logos{
	justify-content: center;
	align-items: center;	
}

.row-2{
	align-items: flex-end;	
}

.row-4 {
	padding: 0 33px;
	margin-bottom: 105px;
}

.row-4 .column {
	width: 220px;
	text-align: center;
}

.row-4 .column .icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 102px;
	height: 102px;
	margin: 0 auto;
}

.row-4 .column img:nth-child(1) {
	max-width: 90.13px;
	max-height: 91px;
}

.row-4 .column img:nth-child(2) {
	max-width: 36.2px;
	max-height: 72.44px;
}

.row-4 .column img:nth-child(3) {
	max-width: 51.76px;
	max-height: 55.17px;
}

.row-4 .column img:nth-child(4) {
	max-width: 51px;
	max-height: 47.81px;
}

.row-4 .column:nth-child(1) p,
.row-4 .column:nth-child(4) p{
	padding: 0 15px;
}

.row-4 .column p:nth-child(2){
	font-size: 23px;
	line-height: 25px;
	letter-spacing: 0.92px;
	margin: 37px 0 21px;
}

.row-4 .column p:nth-child(3){
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 0.52px;
}

.footer .installBox {
	padding-bottom: 56px;
}

.footer .installBox p {
	margin-bottom: 35px;
}

.footer .get-phone-email,
.footer .install {
 	margin-top: 51px;
 	width: 380px;
}

.install .btn-app-store {
	background: url('../img/app-store.svg') no-repeat;
}

.install .btn-google-play {
	background: url('../img/google-play.svg') no-repeat;
}

.install .btn-app-store,
.install .btn-google-play {
	background-size: cover;
	background-position: center;
	background-color: #000;
}

.install .btn-app-store,
.install .btn-google-play, 
.form-phone-email {
		border-radius: 6px;
}

.install .btn-google-play {
	margin-left: -3px;
}

.column-2 .install .btn-app-store,
.column-2 .install .btn-app-store a{
	width: 142px;
	height: 44px;
	margin-right: -7px;
}

.column-2 .install .btn-google-play,
.column-2 .install .btn-google-play a {
	width: 137.48px;
	height: 42.33px;
}

.footer {
	border-top: 1px solid #fff;
	width:100%;
}

.footer .install {
	margin-right: 93px;
}

.footer .install .btn-app-store,
.footer .install .btn-app-store a {
	width: 181px;
	height: 53px;
	margin-right: 24.3px;
}

.footer .install .btn-google-play,
.footer .install .btn-google-play a {
	width: 174.74px;
	height: 51.33px;
}

.footer .form-phone-email {
	margin-left: 5px;
}

.form-phone-email,
.form-phone-email input {
	background-color: #fff;
}

.form-phone-email {
	margin: 0 auto;
}

.row-2 .form-phone-email{
	width: 304px;
	height: 48px;
}

.footer .form-phone-email{
	width: 380px;
	height: 51px;
}

.form-phone-email {
	justify-content: space-between;	
}

.form-phone-email,
.btns-wrapper{
	align-items: center;
}

.form-phone-email input{
	border: none;
	text-align: left;
	padding-left: 15px; 
	color: #808080;
}

.footer .form-phone-email input[type="text"] {
	font-size: 20px;
	line-height: 23px;
	height: 23px;
}

.footer .form-phone-email input[type="submit"]{
	font-size: 15px;
	line-height: 18px;
	border-left: 2px solid #808080;
	height: 27px;
}

input:focus { 
	outline: none; 
}