@font-face {
    font-family: "MuseoSansCyrl-300";
    src: url(/../fonts/MuseoSansCyrl-300.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl-100";
    src: url(/../fonts/MuseoSansCyrl-100.otf);
    font-weight: 100;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border:none;
}

button.btnsLogin:hover {
    opacity: .9;
}

body,
#content{
    background: -webkit-linear-gradient(-45deg, rgba(95,228,237,1) 0%, rgba(176,98,243,1) 79%, rgba(176,98,243,1) 85%, rgba(118,78,156,1) 100%);
    background: -moz-linear-gradient(-45deg, rgba(95,228,237,1) 0%, rgba(176,98,243,1) 79%, rgba(176,98,243,1) 85%, rgba(118,78,156,1) 100%);
}

a {
    display: inline-block;
}

a:hover,
input[type="submit"],
div.loginEmail-forgot {
    cursor: pointer;
}

p,
.pageTitle {
    color: #fff;
    text-align: center;
}

.mainPage {
    width:100%;
    height: 100%;
}

.pageTitle,
.row-3 p:nth-child(2),
.row-4 .column p:nth-child(2),
.column-2 .form-phone-email input{
    font-family: "MuseoSansCyrl-300";
}

.install p,
.get-phone-email p,
.row-2 .column-2 p:nth-child(2),
.row-3 p:nth-child(3),
.row-4 .column p:nth-child(3),
.btnsLogin {
    font-family: "MuseoSansCyrl-100";
}

.main-container-wrapper,
.footer .installBox{
    width: 1024px;
    margin: 0 auto;
    height: 100%;
}

.row-1-logos a {
    margin: 26px 42px 40px 23px;
}

.row-1-logos a:first-child {
    width: 207px;
    height: 53px;
}

.row-1-logos a:last-child {
    width: 191.63px;
    height: 54.21px;
}

.pageTitle {
    font-size: 37px;
    line-height: 47px;
    letter-spacing: 0.8px;
}

.singIn:hover {
    color: deeppink;
    opacity: .9;
    border-radius: 4px;
}

.singIn {
    display: inline;
    cursor: pointer;
}

.row-2 {
    margin: 61px 73px 0 35px;
}

.column {
    display: inline-block;
}

.row-2 .column-1 img:first-child{
    margin-right: 15px;
}

.row-2 .column-2 {
    margin: 25px 39px 12px 78px;
}

.row-2 .column-2,
.row-2 .column-2 p {
    width: 310px;
}

.row-2 .column-2 > p:first-child,
.form-phone-email input[type="submit"] {
    text-transform: uppercase;
}

.row-2 .column-2 > p:first-child {
    font-size: 22.4px;
    line-height: 29.6px;
    margin-bottom: 15.8px;
    font-family: "MuseoSansCyrl-300";
}

.row-2 .column-2 p:nth-child(2) {
    font-size: 21.28px;
    line-height: 23.52px;
    letter-spacing: 0.2px;
}

.row-2 .column-2 > p {
    text-align: left !important;
}

.column-2 .install p,
.column-2 .get-phone-email p{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.52px;
}

.column-2 .install p{
    margin: 42px 0 12px;
}

.column-2 .get-phone-email p{
    margin: 29px 0 11px;
}

.form-phone-email input[type="text"]{
    height: 26px;
    padding: 14px 25px 14px 15px;
    border-radius: 6px;
    background-color: transparent;
}

.form-phone-email input[type="submit"]{
    margin-right: 20px;
}

.column-2 .form-phone-email input[type="text"] {
    font-size: 16px;
    line-height: 18px;
}

.column-2 .form-phone-email input[type="submit"]{
    font-size: 12px;
    line-height: 15px;
    border-left: 1px solid #808080;
    height: 22px;
}

.row-3 {
    margin-top: 120px;
    text-align: center;
}

.row-3 a img {
    margin-bottom: 30px;
}

.row-3 p:nth-child(2) {
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 5px;
}

.row-3 p:nth-child(3) {
    font-size: 27px;
    line-height: 47px;
    margin-bottom: 38px;
}

.row-1-logos,
.row-4,
.row-2,
.footer .installBox,
.install .btns-wrapper,
.form-phone-email {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.row-1-logos{
    justify-content: center;
    align-items: center;
}

.row-2{
    align-items: flex-end;
}

.row-4 {
    padding: 0 33px;
    margin-bottom: 105px;
}

.row-4 .column {
    width: 220px;
    text-align: center;
}

.row-4 .column .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    margin: 0 auto;
}

.row-4 .column img:nth-child(1) {
    max-width: 90.13px;
    max-height: 91px;
}

.row-4 .column img:nth-child(2) {
    max-width: 36.2px;
    max-height: 72.44px;
}

.row-4 .column img:nth-child(3) {
    max-width: 51.76px;
    max-height: 55.17px;
}

.row-4 .column img:nth-child(4) {
    max-width: 51px;
    max-height: 47.81px;
}

.row-4 .column p:nth-child(2){
    font-size: 23px;
    line-height: 25px;
    letter-spacing: 0.92px;
    margin: 37px 0 21px;
}

.row-4 .column p:nth-child(3){
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.52px;
    width: 225px;
}

.footer .installBox {
    padding-bottom: 56px;
}

.footer .installBox p {
    margin-bottom: 35px;
}

.footer .get-phone-email,
.footer .install {
    margin-top: 51px;
    width: 380px;
}

.install .btn-app-store {
    background: url(/../img/app-store.svg) no-repeat !important;
}

.install .btn-google-play {
    background: url(/../img/google-play.svg) no-repeat !important;
}

.install .btn-app-store,
.install .btn-google-play {
    background: #000 center;
    background-size: cover;
}

.install .btn-app-store,
.install .btn-google-play,
.form-phone-email {
    border-radius: 6px;
}

.install .btn-google-play {
    margin-left: -3px;
}

.column-2 .install .btn-app-store,
.column-2 .install .btn-app-store a{
    width: 142px;
    height: 44px;
    margin-right: -7px;
}

.column-2 .install .btn-google-play,
.column-2 .install .btn-google-play a {
    width: 137.48px;
    height: 42.33px;
}

.footer {
    border-top: 1px solid #fff;
    width:100%;
}

.footer .install {
    margin-right: 93px;
}

.footer .install .btn-app-store,
.footer .install .btn-app-store a {
    width: 181px;
    height: 53px;
    margin-right: 24.3px;
}

.footer .install .btn-google-play,
.footer .install .btn-google-play a {
    width: 174.74px;
    height: 51.33px;
}

.footer .form-phone-email {
    margin-left: 5px;
}

.form-phone-email,
.form-phone-email input {
    background-color: #fff;
}

.form-phone-email {
    margin: 0 auto;
}

.row-2 .form-phone-email{
    width: 304px;
    height: 48px;
}

.footer .form-phone-email{
    width: 380px;
    height: 51px;
}

.form-phone-email {
    justify-content: space-between;
}

.form-phone-email,
.btns-wrapper{
    align-items: center;
}

.form-phone-email input{
    border: none;
    text-align: left;
    padding-left: 15px;
    color: #808080;
}

.footer .form-phone-email input[type="text"] {
    font-size: 20px;
    line-height: 23px;
    height: 23px;
}

.footer .form-phone-email input[type="submit"]{
    font-size: 15px;
    line-height: 18px;
    border-left: 2px solid #808080;
    height: 27px;
}

input:focus,
button:focus{
    outline: none;
}
.banner-gray{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute !important;
    background-color: rgba(0,0,0,0.5);
}

.banner-show {
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed !important;
}

.banner-pointer{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed !important;
    cursor: pointer;
}

.banner-hide {
    display: none;
}

.banner-scroller {
    position: absolute;
    width: 100%;
    height: 100%;
}

.loginWhite {
    z-index: 10040;
    width: 320px;
    min-height: 381px;
    cursor: default;
    position: relative;
    top: 100px;
    margin: 0 auto 100px;
    border-radius: 3px;
    background: #fff;
    transition: transform 0.6s;
    transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.btnsLogin {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    font: 100 15px/18px "MuseoSansCyrl-100";
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.btnLoginVk,
.btnLoginFb {
    margin-bottom: 10px;
    padding-left: 54px;
    position: relative;
    text-align: left;
}

.btnLoginVk {
    background: url(/../img/vkontakte.svg) 19px 50%/15px no-repeat #356ca1;
}


.btnLoginFb {
    background: url(/../img/facebook.svg) 22px 50%/10px no-repeat #475e97;
}

.btnLightBlue {
    background-color: #4baeec;
}

.btn-email, .btn-sms {
    display: inline-block;
    width: 135px !important;
    margin-top: 0;
}
.btn-email{
    float: left;
}
.btn-sms {
    margin-left: 10px;
}

.btn-sms small{
    pointer-events: none;
    font: 100 13px/15px "MuseoSansCyrl-100";
    opacity: 0.6;
}

.btnStriper{
    border-top: 1px solid #e6e6e6;
    margin: 20px auto;
}

.loginMain .loginTitle {
    font: 300 20px/28px "MuseoSansCyrl-300";
    color: #080808;
    padding: 30px 0 5px;
    text-align: center;
}

.loginMain .loginBtns-content {
    padding: 25px 20px 20px;
}

.loginMain .loginMain-links,
.loginMain-links a{
    text-align: center;
    font: 100 11px/1.1 "MuseoSansCyrl-100",Arial,sans-serif;
    color: #ccc;
}

.loginMain .loginMain-links {
    margin-top: 20px;
}

.loginMain .loginMain-links a {
    color: #ccc !important;
    text-decoration: underline !important;
}

.loginHeader {
    position: relative;
    height: 39px;
    padding-top: 21px;
    font: 100 18px "MuseoSansCyrl-100";
    text-align: center;
    background-color: #f1f1f1;
    color: #4d4d4d;
}

.loginHeader-back {
    background: url(/../img/back.svg) 20px 50% no-repeat;
    position: absolute;
    cursor: pointer;
    width: 65px;
    height: 100%;
    top: 0;
    left: 0;
}

.loginForm {
    margin: .75em 0 1em;
}

.loginForm input[type="password"] {
    margin-bottom: 20px;
}

input.loginInput {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px #f1f1f1;
    color: #7c7c7c;
    font: 100 15px/17px "MuseoSansCyrl-100";
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.loginEmail-content {
    padding: 20px 20px 25px;
    text-align: center;
}

.loginEmail-forgot {
    display: inline-block;
    margin-top: 20px;
    color: #7c7c7c;
    font: 100 15px/1.2 "MuseoSansCyrl-100";
    text-align: center;
}

.loginSms-content,
.emailPasForgot-content {
    padding: 20px 20px 120px;
}

@keyframes popup {
    from {
        margin-left: 285px;
    }
    to {
        margin-left: 293px;
    }
}

@-webkit-keyframes popup {
    from {
        margin-left: 287px;
    }
    to {
        margin-left: 293px;
    }
}

.loginSms-note{
    position: relative;
    width: 160px;
    height: 90px;
    padding: 20px;
    margin: -130px 0 0 293px;
    top: -20px;
    color: #fff;
    background-color: #717578;
    animation: popup .2s;
    font: 100 15px/1.2 "MuseoSansCyrl-100";
    text-align: left;
}

.loginSms-note:after {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 58px;
    left: -5px;
    content: '';
    background-color: #717578;
    transform: rotate(45deg);
    border-radius: 2px;
}

