lightBlue = #4baeec

.loginBtn
  display: block
  height: 50px
  width: 100%
  border-radius: 4px
  font: 100 15px/18px "MuseoSansCyrl-thin"
  color: #fff
  cursor: pointer
  margin-top: 10px

  &:hover
    opacity: .9

  &__vk
    background-image: url(/../../img/loginPopup/vkontakte.svg)
    background-position: 19px 50%
    background-size: 15px
    background-color: #356ca1

  &__fb
    background-image: url(/../../img/loginPopup/facebook.svg)
    background-position: 22px 50%
    background-size: 10px
    background-color: #475e97

  &__vk,
  &__fb
    margin-bottom: 10px
    padding-left: 54px
    position: relative
    text-align: left
    background-repeat no-repeat

  &_color_lightBlue
    background-color: lightBlue

  &__email,
  &__sms
    display: inline-block
    margin-top: 0

  &_size_s
    width: 135px !important

  &__email
    float: left

  &__sms
    margin-left: 10px

    small
      pointer-events: none
      font: 100 13px/15px "MuseoSansCyrl-thin"
      opacity: 0.6