.formBoxBottom
  margin-top: 51px
  margin-left: 5px
  width: 380px

  &-title
    font-family: "Museo", Arial, sans-serif
    font-weight: 100
    margin: 0 0 35px
    font-size: 15px
    line-height: 18px
    letter-spacing: 0.6px

  &-emailForm
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    border-radius: 6px
    margin: 0 auto
    background-color: #fff
    width: 380px
    height: 51px

  &-submitEmail,
  &-inputEmail
    font-family: "Museo", Arial, sans-serif
    font-weight: 300
    text-align: left
    padding-left: 15px
    color: #808080

  &-submitEmail
    text-transform: uppercase
    margin-right: 20px
    background-color: #fff
    font-size: 15px
    line-height: 18px
    border-left: 2px solid #808080
    height: 27px

  &-inputEmail
    padding: 14px 25px 14px 15px
    border-radius: 6px
    background-color: transparent
    font-size: 20px
    line-height: 23px
    height: 23px