.installBoxTop

  &-installTitle
    color: #fff
    font-family: "Museo", Arial, sans-serif
    font-weight: 100
    font-size: 13px
    line-height: 16px
    letter-spacing: 0.52px
    margin: 42px 0 12px

  &-installButtonsWrapper
    display: flex
    flex-wrap: nowrap
    justify-content: space-around
    align-items: center