$mobile = 'screen and (max-width: 510px)'
$desktop = 'screen and (min-width: 510px)'
$iphone4 = 'screen and (max-height: 480px)'
$retina = '(-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)'