.loginHeader
  position: relative
  height: 39px
  padding-top: 21px
  font: 100 18px "Museo", Arial, sans-serif
  text-align: center
  background-color: #f1f1f1
  color: #4d4d4d

  &-backButton
    background: url(/../../img/loginPopup/back.svg) 20px 50% no-repeat
    position: absolute
    cursor: pointer
    width: 65px
    height: 100%
    top: 0
    left: 0