.loginMain
  &-title
    font: 300 20px/28px "Museo", Arial, sans-serif
    color: #080808
    padding: 30px 0 5px
    text-align: center

  &-loginButtonsWrapper
    padding: 25px 20px 20px

  &-buttonsStriper
    border-top: 1px solid #e6e6e6
    margin: 20px auto

  &-linksWrapper,
  &-link
    text-align: center
    font: 100 11px/1.1 "Museo", Arial, sans-serif
    color: #ccc !important

  &-linksWrapper
    margin-top: 20px

  &-link
    text-decoration: underline !important