.column
  display: inline-block
  width: 220px
  text-align: center

  &-title
    color: #fff
    text-align: center
    font-family: "Museo", Arial, sans-serif
    font-weight: 300
    font-size: 23px
    line-height: 25px
    letter-spacing: 0.92px
    margin: 37px 0 21px

  &-description
    color: #fff
    text-align: center
    font-family: "Museo", Arial, sans-serif
    font-weight: 100
    font-size: 13px
    line-height: 22px
    letter-spacing: 0.52px
    width: 225px

  &-iconWrapper
    display: flex
    align-items: center
    justify-content: center
    width: 102px
    height: 102px
    margin: 0 auto

  &-icon
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    &_cherry
      background-image: url("/img/iconCherry.svg")
      width: 71px
      height: 64px

    &_plane
      background-image: url("/img/iconPlane.svg")
      width: 74px
      height: 74px

    &_notes
      background-image: url("/img/iconNotes.svg")
      width: 51px
      height: 58px

    &_heart
      background-image: url("/img/iconHeart.svg")
      width: 52px
      height: 49px