.installButton
  background-color: #000
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: 6px

  &-apple
    background-image: url('/img/appStore.svg') !important

    &_header
      width: 142px
      height: 44px
      margin-right: -7px

    &_footer
      width: 181px
      height: 53px
      margin-right: 24.3px

  &-appleLink
    display: inline-block

    &:hover
      cursor: pointer

    &_header
      width: 142px
      height: 44px
      margin-right: -7px

    &_footer
      width: 181px
      height: 53px
      margin-right: 24.3px

  &-google
    background-image: url('/img/googlePlay.svg') !important
    margin-left: -3px

    &_header
      width: 137.48px
      height: 42.33px

    &_footer
      width: 174.74px
      height: 51.33px

  &-googleLink
    display: inline-block

    &:hover
      cursor: pointer

    &_header
      width: 137.48px
      height: 42.33px

    &_footer
      width: 174.74px
      height: 51.33px