.installBoxBottom
  width: 1024px
  margin: 0 auto
  height: 100%
  display: flex
  flex-wrap: nowrap
  justify-content: space-around
  align-items: flex-start
  padding-bottom: 56px

  &-installWrapper
    margin-top: 51px
    margin-right: 93px
    width: 380px

  &-installTitle
    color: #fff
    font-family: "Museo", Arial, sans-serif
    font-weight: 100
    font-size: 15px
    line-height: 18px
    letter-spacing: 0.6px
    margin-bottom: 35px

  &-installButtonsWrapper
    display: flex
    flex-wrap: nowrap
    justify-content: space-around
    align-items: center